/* Imports */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@font-face {
  font-family: "MavenPro";
  src: url(./Maven_Pro/MavenPro.ttf);
}
:root {
  --primaryColor: #0d6efd;
  --white: #fff;
  --dark: #1e1e1e;
  --lightDark: #4e4e4e66;
  --secondaryColor: #6d767e;
  --success: #48c78e;
  --warning: #dc8001cc;
  --danger: #dc1101cc;
  --info: #5fbbe2;
  --light: #e0f3f5;
  --bd-font-weight: 400;
  --bdfontSize: 1rem;
  --db-line-height: 1;
  --fontFamily: "MavenPro", sans-serif;
  --smallFont: 0.875em;
  --smallerFont: 0.775em;
  --navHeight: 50px !important ;
  --border: 0.1rem solid #ddd;
  --hoverable: rgba(221, 221, 221, 0.2);
  --gradient:linear-gradient(90deg, var(--secondaryColor) 0%, var(--primaryColor) 100%);
  --gradientColors:90deg, var(--secondaryColor) 0%, var(--primaryColor) 100%;
  --linkColor:rgb(110, 168, 254);
  --linkHover:(139, 185, 254;);


}

/* normalise css */
* {
  font-family: var(--fontFamily);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: var(--bdfontSize);
  line-height: var(--db-line-height);
  font-weight: var(--bd-font-weight);
}

/* links and href */
a,
Link {
  text-decoration: none;
  background: transparent;
  transition: 0.3s;
  color: var(--linkColor);
}
a:hover {
  color: var(--linkHover);
}

button {
  -webkit-appearance: button;
}
link {
  text-decoration: none;
}
link:hover {
  text-decoration: none;
}
input {
  background: transparent;
}

/* Background Color */
.gradient,
.hover-gradient:hover {
  background: var(--gradient) !important;
  color: white;
}
.primary,
.hover-primary:hover {
  background-color: var(--primaryColor) !important;
  color: white;
}
.dark,
.hover-dark:hover {
  background-color: var(--dark) !important;
  color: white;
}
.light-dark,
.hover-light-dark:hover {
  background-color: var(--lightDark) !important;
  color: white;
}
.white,
.hover-white:hover {
  background-color: var(--white) !important;
}
.light,
.hover-light:hover {
  background-color: var(--light) !important;
}
.secondary,
.hover-secondary:hover {
  background-color: var(--secondaryColor) !important;
  color: white;
}
.success,
.hover-success:hover {
  background-color: var(--success) !important;
  color: white;
}
.info,
.hover-info:hover {
  background-color: var(--info) !important;
  color: white;
}
.warning,
.hover-warning:hover {
  background-color: var(--warning) !important;
  color: white;
}
.danger,
.error,
.hover-danger:hover {
  background-color: var(--danger) !important;
  color: white;
}

/* outlines */
.success-outline {
  border: 1px solid var(--success) !important;
}
.primary-outline {
  border: 1px solid var(--primaryColor) !important;
}
.light-outline {
  border: 1px solid var(--light) !important;
}
.dark-outline {
  border: 1px solid var(--dark) !important;
}
.light-dark-outline {
  border: 1px solid var(--lightDark) !important;
}
.secondary-outline {
  border: 1px solid var(--secondaryColor) !important;
}
.light-outline {
  border: 1px solid var(--light) !important;
}
.info-outline {
  border: 1px solid var(--info) !important;
}
.warning-outline {
  border: 1px solid var(--warning) !important;
}
.danger-outline {
  border: 1px solid var(--danger) !important;
}

/* text color */
.text-light,
.hover-text-light:hover {
  color: var(--light) !important;
}
.text-white,
.hover-text-white:hover {
  color: var(--white) !important;
}
.text-dark,
.hover-text-dark:hover {
  color: var(--dark) !important;
}
.text-light-dark,
.hover-text-light-dark:hover {
  color: var(--lightDark) !important;
}
.text-primary,
.hover-text-primary:hover {
  color: var(--primaryColor) !important;
}
.text-secondary,
.hover-text-secondary:hover {
  color: var(--secondaryColor) !important;
}
.text-success,
.hover-text-success:hover {
  color: var(--success) !important;
}
.text-info .hover-text-info:hover {
  color: var(--info);
}
.text-warning,
.hover-text-warning:hover {
  color: var(--warning);
}
.text-danger,
.hover-text-danger:hover {
  color: var(--danger);
}
.text-gradient,
.hover-text-gradient:hover {
  background: -webkit-linear-gradient(var(--gradientColors));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}


/* width */
.width-10-p {
  width: 10% !important;
}
.width-20-p {
  width: 20% !important;
}
.width-30-p {
  width: 30% !important;
}
.width-40-p {
  width: 40% !important;
}
.width-50-p {
  width: 50% !important;
}
.width-60-p {
  width: 60% !important;
}
.width-70-p {
  width: 70% !important;
}
.width-80-p {
  width: 80% !important;
}
.width-90-p {
  width: 90% !important;
}
.width-100-p {
  width: 100%;
}
.width-10 {
  width: 10px;
}
.width-20 {
  width: 20px;
}
.width-30 {
  width: 30px;
}
.width-40 {
  width: 40px;
}
.width-50 {
  width: 50px;
}
.width-60 {
  width: 60px;
}
.width-70 {
  width: 70px;
}
.width-80 {
  width: 80px;
}
.width-90 {
  width: 90px;
}
.width-100 {
  width: 100px;
}
.width-200 {
  width: 200px;
}
.width-300 {
  width: 300px;
}
.width-400 {
  width: 400px;
}
.width-500 {
  width: 500px;
}
.width-600 {
  width: 600px;
}
.width-700 {
  width: 700px;
}
.width-800 {
  width: 800px;
}
.width-900 {
  width: 900px;
}
.width-10-max {
  max-width: 10px;
}
.width-20-max {
  max-width: 20px;
}
.width-30-max {
  width: 30px;
}
.width-40-max {
  max-width: 40px;
}
.width-50-max {
  max-width: 50px;
}
.width-60-max {
  width: 60px;
}
.width-70-max {
  max-width: 70px;
}
.width-80-max {
  max-width: 80px;
}
.width-90-max {
  max-width: 90px;
}
.width-100-max {
  max-width: 100px;
}
.width-200-max {
  max-width: 200px;
}
.width-300-max {
  max-width: 300px;
}
.width-400-max {
  max-width: 400px;
}
.width-500-max {
  max-width: 500px;
}
.width-600-max {
  max-width: 600px;
}
.width-700-max {
  max-width: 700px;
}
.width-800-max {
  max-width: 800px;
}
.width-900-max {
  max-width: 900px;
}
.width-10-min {
  min-width: 10px;
}
.width-20-min {
  min-width: 20px;
}
.width-30-min {
  min-width: 30px;
}
.width-40-min {
  min-width: 40px;
}
.width-50-min {
  min-width: 50px;
}
.width-60-min {
  min-width: 60px;
}
.width-70-min {
  min-width: 70px;
}
.width-80-min {
  min-width: 80px;
}
.width-90-min {
  min-width: 90px;
}
.width-100-min {
  min-width: 100px;
}
.width-200-min {
  min-width: 200px;
}
.width-300-min {
  min-width: 300px;
}
.width-400-min {
  min-width: 400px;
}
.width-500-min {
  min-width: 500px;
}
.width-600-min {
  min-width: 600px;
}
.width-700-min {
  min-width: 700px;
}
.width-800-min {
  min-width: 800px;
}
.width-900-min {
  min-width: 900px;
}
.width-10-max {
  max-width: 10px;
}
.width-20-max {
  max-width: 20px;
}
.width-30-max {
  width: 30px;
}
.width-40-max {
  max-width: 40px;
}
.width-50-max {
  max-width: 50px;
}
.width-60-max {
  width: 60px;
}
.width-70-max {
  max-width: 70px;
}
.width-80-max {
  max-width: 80px;
}
.width-90-max {
  max-width: 90px;
}
.width-100-max {
  max-width: 100px;
}
.width-200-max {
  max-width: 200px;
}
.width-300-max {
  max-width: 300px;
}
.width-400-max {
  max-width: 400px;
}
.width-500-max {
  max-width: 500px;
}
.width-600-max {
  max-width: 600px;
}
.width-700-max {
  max-width: 700px;
}
.width-800-max {
  max-width: 800px;
}
.width-900-max {
  max-width: 900px;
}
.width-10-min {
  min-width: 10px;
}
.width-20-min {
  min-width: 20px;
}
.width-30-min {
  min-width: 30px;
}
.width-40-min {
  min-width: 40px;
}
.width-50-min {
  min-width: 50px;
}
.width-60-min {
  min-width: 60px;
}
.width-70-min {
  min-width: 70px;
}
.width-80-min {
  min-width: 80px;
}
.width-90-min {
  min-width: 90px;
}
.width-100-min {
  min-width: 100px;
}
.width-200-min {
  min-width: 200px;
}
.width-300-min {
  min-width: 300px;
}
.width-400-min {
  min-width: 400px;
}
.width-500-min {
  min-width: 500px;
}
.width-600-min {
  min-width: 600px;
}
.width-700-min {
  min-width: 700px;
}
.width-800-min {
  min-width: 800px;
}
.width-900-min {
  min-width: 900px;
}
.width-min-vw {
  min-width: 100vw;
}

/*Heights*/
.height-10-p {
  height: 10%;
}
.height-20-p {
  height: 20%;
}
.height-30-p {
  height: 30%;
}
.height-40-p {
  height: 40%;
}
.height-50-p {
  height: 50%;
}
.height-60-p {
  height: 60%;
}
.height-70-p {
  height: 70%;
}
.height-80-p {
  height: 80%;
}
.height-90-p {
  height: 90%;
}
.width-100-p {
  width: 100%;
}
.height-10 {
  height: 10px;
}
.height-20 {
  height: 20px;
}
.height-30 {
  height: 30px;
}
.height-40 {
  height: 40px;
}
.height-50 {
  height: 50px;
}
.height-60 {
  height: 60px;
}
.height-70 {
  height: 70px;
}
.height-80 {
  height: 80px;
}
.height-90 {
  height: 90px;
}
.height-100 {
  height: 100px;
}
.height-200 {
  height: 200px;
}
.height-300 {
  height: 300px;
}
.height-400 {
  height: 400px;
}
.height-500 {
  height: 500px;
}
.height-600 {
  height: 600px;
}
.height-700 {
  height: 700px;
}
.height-800 {
  height: 800px;
}
.height-900 {
  height: 900px;
}
.height-100-vh {
  height: 100vh;
}
.height-10-max {
  max-height: 10px;
}
.height-20-max {
  max-width: 20px;
}
.height-30-max {
  width: 30px;
}
.height-40-max {
  max-height: 40px;
}
.height-50-max {
  max-width: 50px;
}
.height-60-max {
  width: 60px;
}
.height-70-max {
  max-height: 70px;
}
.height-80-max {
  max-height: 80px;
}
.height-90-max {
  max-height: 90px;
}
.height-100-max {
  max-height: 100px;
}
.height-200-max {
  max-height: 200px;
}
.height-300-max {
  max-height: 300px;
}
.height-400-max {
  max-height: 400px;
}
.height-500-max {
  max-height: 500px;
}
.height-600-max {
  max-height: 600px;
}
.height-700-max {
  max-height: 700px;
}
.height-800-max {
  max-height: 800px;
}
.height-900-max {
  max-height: 900px;
}
.height-10-min {
  min-height: 10px;
}
.height-20-min {
  min-height: 20px;
}
.height-30-min {
  min-height: 30px;
}
.height-40-min {
  min-height: 40px;
}
.height-50-min {
  min-height: 50px;
}
.height-60-min {
  min-height: 60px;
}
.height-70-min {
  min-height: 70px;
}
.height-80-min {
  min-height: 80px;
}
.height-90-min {
  min-height: 90px;
}
.height-100-min {
  min-height: 100px;
}
.height-200-min {
  min-height: 200px;
}
.height-300-min {
  min-height: 300px;
}
.height-400-min {
  min-height: 400px;
}
.height-500-min {
  min-height: 500px;
}
.height-600-min {
  min-height: 600px;
}
.height-700-min {
  min-height: 700px;
}
.height-800-min {
  min-height: 800px;
}
.height-900-min {
  min-height: 900px;
}
.height-min-vh {
  min-height: 100vh;
}

/* Typography */
.text-big {
  font-size: calc(1.375rem + 2vw);
  font-weight: 900;
  line-height: normal;
}
.text-small {
  font-size: var(--smallFont);
}
.text-bigger {
  font-size: calc(1.375rem + 2.5vw);
  font-weight: 900;
  line-height: normal;
}
.text-smaller {
  font-size: var(--smallerFont);
}
.text-jumbo {
  font-size: calc(1.375rem + 3vw);
  font-weight: 900;
  line-height: normal;
}
.text-bold {
  font-weight: bold !important;
}
.text-bolder {
  font-weight: bolder !important;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

/*margin*/
.margin {
  margin: 10px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.margin-top-40 {
  margin-top: 40px !important;
}
.margin-top-50 {
  margin-top: 50px !important;
}
.margin-top-60 {
  margin-top: 60px !important;
}
.margin-top-70 {
  margin-top: 70px !important;
}
.margin-top-80 {
  margin-top: 80px !important;
}
.margin-top-90 {
  margin-top: 90px !important;
}
.margin-top-100- {
  margin-top: -100px;
}
.margin-top-10- {
  margin-top: -10px !important;
}
.margin-top-20- {
  margin-top: -20px !important;
}
.margin-top-30- {
  margin-top: -30px !important;
}
.margin-top-40- {
  margin-top: -40px !important;
}
.margin-top-50- {
  margin-top: -50px !important;
}
.margin-top-60- {
  margin-top: -60px !important;
}
.margin-top-70- {
  margin-top: -70px !important;
}
.margin-top-80- {
  margin-top: -80px !important;
}
.margin-top-90- {
  margin-top: -90px !important;
}
.margin-top-100 {
  margin-top: 100px;
}
.margin-10 {
  margin: 10px !important;
}
.margin-20 {
  margin: 20px !important;
}
.margin-30 {
  margin: 30px !important;
}
.margin-40 {
  margin: 40px !important;
}
.margin-50 {
  margin: 50px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}
.margin-bottom-50 {
  margin-bottom: 50px !important;
}
.margin-bottom-60 {
  margin-bottom: 60px !important;
}
.margin-bottom-70 {
  margin-bottom: 70px !important;
}
.margin-bottom-80 {
  margin-bottom: 80px !important;
}
.margin-bottom-90 {
  margin-bottom: 90px !important;
}
.margin-bottom-100 {
  margin-bottom: 100px;
}
.margin-left-10 {
  margin-left: 10px !important;
}
.margin-left-20 {
  margin-left: 20px !important;
}
.margin-left-30 {
  margin-left: 30px !important;
}
.margin-left-40 {
  margin-left: 40px !important;
}
.margin-left-50 {
  margin-left: 50px !important;
}
.margin-left-60 {
  margin-left: 60px !important;
}
.margin-left-70 {
  margin-left: 70px !important;
}
.margin-left-80 {
  margin-left: 80px !important;
}
.margin-left-90 {
  margin-left: 90px !important;
}
.margin-left-100 {
  margin-left: 100px;
}
.margin-right-10 {
  margin-right: 10px !important;
}
.margin-right-20 {
  margin-right: 20px !important;
}
.margin-right-30 {
  margin-right: 30px !important;
}
.margin-right-40 {
  margin-right: 40px !important;
}
.margin-right-50 {
  margin-right: 50px !important;
}
.margin-right-60 {
  margin-right: 60px !important;
}
.margin-right-70 {
  margin-right: 70px !important;
}
.margin-right-80 {
  margin-right: 80px !important;
}
.margin-right-90 {
  margin-right: 90px !important;
}
.margin-right-100 {
  margin-bottom: 100px;
}
/*padding*/
.padding {
  padding: 10px !important;
}
.padding-5 {
  padding: 5px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-top-30 {
  padding-top: 30px !important;
}
.padding-top-40 {
  padding-top: 40px !important;
}
.padding-top-50 {
  padding-top: 50px !important;
}
.padding-top-60 {
  padding-top: 60px !important;
}
.padding-top-70 {
  padding-top: 70px !important;
}
.padding-top-80 {
  padding-top: 80px !important;
}
.padding-top-90 {
  padding-top: 90px !important;
}
.padding-top-100 {
  padding-top: 100px;
}
.padding-10 {
  padding: 10px !important;
}
.padding-20 {
  padding: 20px !important;
}
.padding-30 {
  padding: 30px !important;
}
.padding-40 {
  padding: 40px !important;
}
.padding-50 {
  padding: 50px !important;
}
.padding-60 {
  padding: 60px !important;
}
.padding-70 {
  padding: 70px !important;
}
.padding-80 {
  padding: 80px !important;
}
.padding-90 {
  padding: 90px !important;
}
.padding-100 {
  padding: 100px;
}
.padding-bottom-10 {
  padding-bottom: 10px !important;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.padding-bottom-30 {
  padding-bottom: 30px !important;
}
.padding-bottom-40 {
  padding-bottom: 40px !important;
}
.padding-bottom-50 {
  padding-bottom: 50px !important;
}
.padding-bottom-60 {
  padding-bottom: 60px !important;
}
.padding-bottom-70 {
  padding-bottom: 70px !important;
}
.padding-bottom-80 {
  padding-bottom: 80px !important;
}
.padding-bottom-90 {
  padding-bottom: 90px !important;
}
.padding-bottom-100 {
  padding-bottom: 100px;
}
.padding-left-10 {
  padding-left: 10px !important;
}
.padding-left-20 {
  padding-left: 20px !important;
}
.padding-left-30 {
  padding-left: 30px !important;
}
.padding-left-40 {
  padding-left: 40px !important;
}
.padding-left-50 {
  padding-left: 50px !important;
}
.padding-left-60 {
  padding-left: 60px !important;
}
.padding-left-70 {
  padding-left: 70px !important;
}
.padding-left-80 {
  padding-left: 80px !important;
}
.padding-left-90 {
  padding-left: 90px !important;
}
.padding-left-100 {
  padding-left: 100px;
}
.padding-right-10 {
  padding-right: 10px !important;
}
.padding-right-20 {
  padding-right: 20px !important;
}
.padding-right-30 {
  padding-right: 30px !important;
}
.padding-right-40 {
  padding-right: 40px !important;
}
.padding-right-50 {
  padding-right: 50px !important;
}
.padding-right-60 {
  padding-right: 60px !important;
}
.padding-right-70 {
  padding-right: 70px !important;
}
.padding-right-80 {
  padding-right: 80px !important;
}
.padding-right-90 {
  padding-right: 90px !important;
}
.padding-right-100 {
  padding-bottom: 100px;
}

/*Helpers*/
.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px;
}
.line-through {
  text-decoration: line-through;
}
.underline {
  text-decoration: underline;
}
.overline {
  text-decoration: overline;
}
.wavy {
  text-decoration: wavy;
}
.borderless {
  border: none;
}
.border {
  border: var(--border);
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-justify {
  text-align: justify !important;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.center {
  margin: 0px auto;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.section {
  margin-top: 10px;
  margin-bottom: 10px;
}
.opacity-1,
.hover-opacity-1:hover {
  opacity: 1;
}
.opacity-2,
.hover-opacity-2:hover {
  opacity: 0.9;
}
.opacity-3,
.hover-opacity-3:hover {
  opacity: 0.8;
}
.opacity-4,
.hover-opacity-4:hover {
  opacity: 0.7;
}
.opacity-5,
.hover-opacity-5:hover {
  opacity: 0.6;
}
.opacity-6,
.hover-opacity-6:hover {
  opacity: 0.5;
}
.opacity-7,
.hover-opacity-7:hover {
  opacity: 0.4;
}
.opacity-8,
.hover-opacity-8:hover {
  opacity: 0.2;
}
.opacity-9,
.hover-opacity-9:hover {
  opacity: 0.1;
}
.hr {
  border-bottom: var(--border);
}
.vr {
  border-left: var(--border);
}
.vertical-scroll {
  overflow-y: scroll;
}
.horizontal-scroll {
  overflow-x: scroll;
}
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
.z-index-4 {
  z-index: 4;
}
.z-index-5 {
  z-index: 5;
}
.z-index-6 {
  z-index: 6;
}
.z-index-7 {
  z-index: 7;
}
.z-index-8 {
  z-index: 8;
}
.z-index-9 {
  z-index: 9;
}
.z-index-10 {
  z-index: 10;
}
.responsive {
  width: 100%;
  height: auto;
}
.row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row-flex.gap {
  grid-gap: 0.5rem;
}
.top-right {
  position: absolute;
  top: 0px;
  right: 0px;
}
.top-left {
  position: absolute;
  top: 0px;
  left: 0px;
}
.top {
  position: absolute;
  top: 0px;
}
.bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.bottom {
  position: absolute;
  bottom: 0px;
}
.clear-both {
  clear: both;
}
.content-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 5;
  width: 100%;
}
.fixed-top {
  position: fixed;
  top: 0px;
  z-index: 5;
  width: 100%;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}
.absolute {
  position: absolute;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.middle {
  display: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hover-shadow {
  transition: 0.3s;
}
.hover-shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.fit {
  height: 100%;
  width: 100%;
}
.fit-width {
  width: fit-content;
}
.fit-height {
  height: fit-content;
}
.shadow-bingo {
  box-shadow: 10px 20px 20px 10px rgba(225, 225, 225, 0.5),
    0px 40px 40px 0px rgba(225, 225, 255, 0.6);
}
.top-border {
  border-top: var(--border);
}
.bottom-border {
  border-bottom: var(--border);
}
.right-border {
  border-right: var(--border);
}
.left-border {
  border-left: var(--border);
}
.row-flex.space-between {
  justify-content: space-between;
}
.row-flex.gap {
  gap: 0.2rem;
}
.row-flex.space-around {
  justify-content: space-around;
}
.fixedBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.row-flex.center {
  justify-content: center;
}
.central {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* avatar */
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
/* cursor */
.cursor-pointer {
  cursor: pointer;
}
.cursor-copy {
  cursor: copy;
}
.cursor-none {
  cursor: none;
}
.cursor-move {
  cursor: move;
}
/* containers hover*/
.container {
  margin: 0 10%;
}
@media (min-width: 993px) {
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (max-width: 992px) {
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (max-width: 500px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
}



/* grid */
.row {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}
.row.gap .col {
  padding: 0.5rem;
}
@media (max-width: 600px) {
  .col.sm-12 {
    flex: 99.99999%;
    -ms-flex: 0 0 99.99999%;
  }
  .col.sm-11 {
    flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
  }
  .col.sm-10 {
    flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
  }
  .col.sm-9 {
    flex: 0 0 74.99999%;
    -ms-flex: 0 0 74.99999%;
  }
  .col.sm-8 {
    flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
  }
  .col.sm-7 {
    flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
  }
  .col.sm-6 {
    flex: 0 0 49.99999%;
    -ms-flex: 0 0 49.99999%;
  }
  .col.sm-5 {
    flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
  }
  .col.sm-4 {
    flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
  }
  .col.sm-3 {
    flex: 0 0 24.99999%;
    -ms-flex: 0 0 24.99999%;
  }
  .col.sm-2 {
    flex: 0 0 16.66666%;
    -ms-flex: 0 0 16.66666%;
  }
  .col.sm-1 {
    flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
  }
}

@media (min-width: 601px) {
  .col.md-12 {
    flex: 99.99999%;
    -ms-flex: 0 0 99.99999%;
  }
  .col.md-11 {
    flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
  }
  .col.md-10 {
    flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
  }
  .col.md-9 {
    flex: 0 0 74.99999%;
    -ms-flex: 0 0 74.99999%;
  }
  .col.md-8 {
    flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
  }
  .col.md-7 {
    flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
  }
  .col.md-6 {
    flex: 0 0 49.99999%;
    -ms-flex: 0 0 49.99999%;
  }
  .col.md-5 {
    flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
  }
  .col.md-4 {
    flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
  }
  .col.md-3 {
    flex: 0 0 24.99999%;
    -ms-flex: 0 0 24.99999%;
  }
  .col.md-2 {
    flex: 0 0 16.66666%;
    -ms-flex: 0 0 16.66666%;
  }
  .col.md-1 {
    flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
  }
}
@media (min-width: 993px) {
  .col.lg-12 {
    flex: 99.99999%;
    -ms-flex: 0 0 99.99999%;
  }
  .col.lg-11 {
    flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
  }
  .col.lg-10 {
    flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
  }
  .col.lg-9 {
    flex: 0 0 74.99999%;
    -ms-flex: 0 0 74.99999%;
  }
  .col.lg-8 {
    flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
  }
  .col.lg-7 {
    flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
  }
  .col.lg-6 {
    flex: 0 0 49.99999%;
    -ms-flex: 0 0 49.99999%;
  }
  .col.lg-5 {
    flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
  }
  .col.lg-4 {
    flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
  }
  .col.lg-3 {
    flex: 0 0 24.99999%;
    -ms-flex: 0 0 24.99999%;
  }
  .col.lg-2 {
    flex: 0 0 16.66666%;
    -ms-flex: 0 0 16.66666%;
  }
  .col.lg-1 {
    flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
  }
}



/*buttons*/
.button {
  border: 0.1rem solid transparent;
  transition: 1s;
  padding: 10px;
  background-color: inherit;
  border-radius: 5px;
  font-weight: bold;
}
.button:hover {
  cursor: pointer;
  background: #ddd;
}
.block-button {
  width: 100%;
}
.floatBtn {
  border-radius: 50%;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 !important;
}
.button.full-width {
  width: 100%;
}
.button {
  position: relative;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}
.button:after {
  content: "";
  background: #ddd;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.button.ripple:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.roundBtn {
  border-radius: 100rem;
}
.button.outlined {
  background-color: transparent;
}
.button.outlined:hover {
  background-color: var(--hoverable);
}
.button.small {
  padding: 5px !important;
}
.button.medium {
  padding: 10px !important;
}
.button.large {
  padding: 15px !important;
}
.button.larger {
  padding: 20px !important;
}
.button-x-large {
  padding: 25px !important;
}
.button.xx-large {
  padding: 30px !important;
}



/*cards*/
.card {
  box-shadow: 0 0.8rem 2rem 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.card.lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}
.card-image {
  width: 100%;
  height: auto;
}
.card-body,
.card-header {
  padding: 0.3rem 1rem;
}

.card-footer {
  padding: 1rem 1rem 1.5rem 1rem;
}

.card-fab {
  position: absolute;
  bottom: 0;
  transform: translateY(40%);
}
.card-fab.right {
  right: 10px;
}
.card-fab.left {
  left: 10px;
}
.card.horizontalCard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  align-items: center;
}
.card.horizontalCard .leftHorizontal {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  flex-basis: 0;
}
.card.horizontalCard .rightHorizontal {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  flex-basis: 0;
}
.leftHorizontal,
.rightHorizontal .card-image {
  height: 100% !important;
  width: auto;
  max-width: 100%;
}

.pointer {
  cursor: pointer;
}
.zoom-in {
  cursor: zoom-in;
}
.zoom-out {
  cursor: zoom-out;
}
/* Navbar */
.navigation-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  height: var(--navHeight);
}
.sidebar-trigger {
  display: none;
  cursor: pointer;
}
.navbar-link {
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.2s linear;
}
.navbar-link.hover:hover {
  background-color: var(--light);
  border-radius: 0.3rem;
}

.link-wrapper,
.linkWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 0.2rem;
}
.collapse {
  overflow: auto;
  transition: 0.5s;
  display: block;
  width: 100%;
  max-height: fit-content;
}
.linkWrapperLogo {
  display: none;
}
@media (max-width: 900px) {
  .sidebar-trigger {
    display: block;
  }
  .link-wrapper,
  .linkWrapper {
    display: none;
  }
}
.fixedTop {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 10;
}

/* Alerts */
.alert {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-radius: 5px;
  font-weight: 500;
  gap: 0.7rem;
  font-size: var(--smallFont);
}
.alert-icon > i {
  cursor: pointer;
  margin: 0;
  font-size: medium !important;
}
.alert.success {
  background-color: rgb(237, 247, 237) !important;
}
.alert.info {
  background-color: rgb(229, 246, 253) !important;
}
.alert.warning {
  background-color: rgb(255, 244, 229) !important;
}
.alert.danger {
  background-color: rgb(253, 237, 237) !important;
}
.alert.success .alert-text,
.alert-icon {
  color: rgb(30, 70, 32) !important;
}
.alert.info .alert-text,
.alert-icon {
  color: rgb(1, 67, 97) !important;
}
.alert.warning .alert-text,
.alert-icon {
  color: rgb(102, 60, 0) !important;
}
.alert.danger .alert-text,
.alert-icon {
  color: rgb(95, 33, 32) !important;
}

/*border radius and borders*/
.round {
  border-radius: 50%;
}
.round-edge {
  border-radius: 10px;
}
.round-top-left-edge {
  border-top-left-radius: 10px;
}
.round-top-right-edge {
  border-top-right-radius: 10px;
}
.round-top-edge {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.round-left-edge {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.round-right-edge {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.round-button-left-edge {
  border-bottom-left-radius: 10px;
}
.round-button-right-edge {
  border-bottom-right-radius: 10px;
}
.round-button-edge {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.border-left-red-1 {
  border-left: 1px solid;
}

/*images */
.circle {
  border-radius: 50%;
}

/* dropdown */
.dropdown-hover,
.dropup-hover {
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 5px;
  max-width: 200px;
}
.dropdown-hover > .drop-menu {
  top: 100%;
}
.dropup-hover > .drop-menu {
  bottom: 100%;
}
.drop-menu {
  position: absolute;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  border-radius: 0.3rem;
}
.dropup-hover:hover .drop-menu {
  display: block;
  z-index: 1;
}
.dropdown-hover:hover .drop-menu {
  display: block;
  z-index: 1;
}
.drop-item {
  padding: 0.6rem;
  cursor: pointer;
}
.drop-menu.item-hoverable > .drop-item:hover {
  background-color: rgba(221, 221, 221, 0.2);
}
.drop-button > .rotate-up {
  transition: 0.3s;
  margin: 0px 5px;
}
.drop-button:hover .rotate-up {
  transform: rotate(180deg);
}
.drop-button > .rotate-down {
  transition: 0.3s;
  margin: 0px 5px;
}
.drop-button:hover .rotate-down {
  transform: rotate(180deg);
}

/*inputs*/
.input {
  padding: 0.5rem 0;
  outline: none;
  border: 0.1rem transparent;
  border-bottom: var(--border);
  transition: 0.2s linear;
  font-weight: 500;
}
.input:focus {
  border-bottom: 0.1rem solid var(--primaryColor);
}
.input.bordered {
  border: var(--border);
  border-radius: 0.3rem;
  transition: 0.2s linear;
  padding: 0.5rem;
}
.input.bordered:focus {
  border: 0.1rem solid var(--primaryColor);
}
.input.borderless {
  border: none;
}
.input.borderless:focus {
  border: none;
}
.input.no-outline {
  outline: none;
}
.full-width {
  width: 100%;
}
.input.round {
  border-radius: 500px;
}
.input.animate-width {
  width: 100px;
  transition: 2s ease;
  min-width: fit-content;
}
.input.animate-width:focus {
  width: 300px;
}
.icon-container {
  position: relative;
  transform: translateX(0.3rem);
}
.icon-container .leftIcon,
.rightIcon {
  height: calc(100%) !important;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-container .leftIcon {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.icon-container .rightIcon {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.icon-container .leftIcon {
  transform: translateX(-0.1rem);
}
.icon-container .leftIcon {
  position: absolute;
  left: 0rem;
  overflow: hidden;
  min-width: 1.9rem;
}
.icon-container .rightIcon {
  position: absolute;
  right: 0rem;
  bottom: 0;
  overflow: hidden;
  min-width: 1.9rem;
}
.icon-container.left .input {
  padding-left: 11%;
}
.icon-container.right .input {
  padding-right: 11%;
}

/*flex*/
.flex {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  width: 100%;
}
.flex-10 {
  flex: 10%;
}
.flex-20 {
  flex: 20%;
}
.flex-30 {
  flex: 30%;
}
.flex-40 {
  flex: 40%;
}
.flex-50 {
  flex: 50%;
}
.flex-60 {
  flex: 60%;
}
.flex-70 {
  flex: 70%;
}
.flex-80 {
  flex: 80%;
}
.flex-90 {
  flex: 90%;
}
.flex-100 {
  flex: 100%;
}
.top-0 {
  top: 0px;
}
.top-10 {
  top: 10px !important;
}
.top-20 {
  top: 20px !important;
}
.top-30 {
  top: 30px !important;
}
.top-40 {
  top: 40px !important;
}
.top-50 {
  top: 50px !important;
}
.top-60 {
  top: 60px !important;
}
.top-70 {
  top: 70px !important;
}
.top-80 {
  top: 80px !important;
}
.top-90 {
  top: 90px !important;
}
.bottom-0 {
  bottom: 0px;
}
.bottom-10 {
  bottom: 10px !important;
}
.bottom-20 {
  bottom: 20px !important;
}
.bottom-30 {
  bottom: 30px !important;
}
.bottom-40 {
  bottom: 40px !important;
}
.bottom-50 {
  bottom: 50px !important;
}
.bottom-60 {
  bottom: 60px !important;
}
.bottom-70 {
  bottom: 70px !important;
}
.bottom-80 {
  bottom: 80px !important;
}
.bottom-90 {
  bottom: 90px !important;
}
.left-0 {
  left: 0px;
}
.left-10 {
  left: 10px !important;
}
.left-20 {
  left: 20px !important;
}
.left-30 {
  left: 30px !important;
}
.left-40 {
  left: 40px !important;
}
.left-50 {
  left: 50px !important;
}
.left-60 {
  left: 60px !important;
}
.left-70 {
  left: 70px !important;
}
.left-80 {
  left: 80px !important;
}
.left-90 {
  left: 90px !important;
}
.right-0 {
  right: 0px;
}
.right-10 {
  right: 10px !important;
}
.right-20 {
  right: 20px !important;
}
.right-30 {
  right: 30px !important;
}
.right-40 {
  right: 40px !important;
}
.right-50 {
  right: 50px !important;
}
.right-60 {
  right: 60px !important;
}
.right-70 {
  right: 70px !important;
}
.right-80 {
  right: 80px !important;
}
.right-90 {
  right: 90px !important;
}
/*small screens */
@media (max-width: 600px) {
  .hide-small {
    display: none;
  }
  .show-small {
    display: block;
  }
  .small-width-10 {
    width: 10px;
  }
  .small-width-20 {
    width: 20px;
  }
  .small-width-30 {
    width: 30px;
  }
  .small-width-40 {
    width: 40px;
  }
  .small-width-50 {
    width: 50px;
  }
  .small-width-60 {
    width: 60px;
  }
  .small-width-70 {
    width: 70px;
  }
  .small-width-80 {
    width: 80px;
  }
  .small-width-90 {
    width: 90px;
  }
  .small-width-100 {
    width: 100px;
  }
  .small-width-200 {
    width: 200px;
  }
  .small-width-300 {
    width: 300px;
  }
  .small-width-400 {
    width: 400px;
  }
  .small-width-500 {
    width: 500px;
  }
  .small-width-600 {
    width: 600px;
  }
  .small-width-700 {
    width: 700px;
  }
  .small-width-800 {
    width: 800px;
  }
  .small-width-900 {
    width: 900px;
  }
  .small-width-1000 {
    width: 1000px;
  }
  .small-height-10 {
    height: 10px;
  }
  .small-height-20 {
    height: 20px;
  }
  .small-height-30 {
    height: 30px;
  }
  .small-height-40 {
    height: 40px;
  }
  .small-height-50 {
    height: 50px;
  }
  .small-height-60 {
    height: 60px;
  }
  .small-height-70 {
    height: 70px;
  }
  .small-height-80 {
    height: 80px;
  }
  .small-height-90 {
    height: 90px;
  }
  .small-height-100 {
    height: 100px;
  }
  .small-height-200 {
    height: 200px;
  }
  .small-height-300 {
    height: 300px;
  }
  .small-height-400 {
    height: 400px;
  }
  .small-height-500 {
    height: 500px;
  }
  .small-height-600 {
    height: 600px;
  }
  .small-height-700 {
    height: 700px;
  }
  .small-height-800 {
    height: 800px;
  }
  .small-height-900 {
    height: 900px;
  }
  .small-height-1000 {
    height: 1000px;
  }
}
@media (min-width: 601px) {
  .hide-medium {
    display: none;
  }
  .show-medium {
    display: block;
  }
  .medium-width-10 {
    width: 10px;
  }
  .medium-width-20 {
    width: 20px;
  }
  .medium-width-30 {
    width: 30px;
  }
  .medium-width-40 {
    width: 40px;
  }
  .medium-width-50 {
    width: 50px;
  }
  .medium-width-60 {
    width: 60px;
  }
  .medium-width-70 {
    width: 70px;
  }
  .medium-width-80 {
    width: 80px;
  }
  .medium-width-90 {
    width: 90px;
  }
  .medium-width-100 {
    width: 100px;
  }
  .medium-width-200 {
    width: 200px;
  }
  .medium-width-300 {
    width: 300px;
  }
  .medium-width-400 {
    width: 400px;
  }
  .medium-width-500 {
    width: 500px;
  }
  .medium-width-600 {
    width: 600px;
  }
  .medium-width-700 {
    width: 700px;
  }
  .medium-width-800 {
    width: 800px;
  }
  .medium-width-900 {
    width: 900px;
  }
  .medium-width-1000 {
    width: 1000px;
  }
  .medium-height-10 {
    height: 10px;
  }
  .medium-height-20 {
    height: 20px;
  }
  .medium-height-30 {
    height: 30px;
  }
  .medium-height-40 {
    height: 40px;
  }
  .medium-height-50 {
    height: 50px;
  }
  .medium-height-60 {
    height: 60px;
  }
  .medium-height-70 {
    height: 70px;
  }
  .medium-height-80 {
    height: 80px;
  }
  .medium-height-90 {
    height: 90px;
  }
  .medium-height-100 {
    height: 100px;
  }
  .medium-height-200 {
    height: 200px;
  }
  .medium-height-300 {
    height: 300px;
  }
  .medium-height-400 {
    height: 400px;
  }
  .medium-height-500 {
    height: 500px;
  }
  .medium-height-600 {
    height: 600px;
  }
  .medium-height-700 {
    height: 700px;
  }
  .medium-height-800 {
    height: 800px;
  }
  .medium-height-900 {
    height: 900px;
  }
  .medium-height-1000 {
    height: 1000px;
  }
}
@media (min-width: 993px) {
  .hide-large {
    display: none;
  }
  .show-large {
    display: block;
  }
  .large-width-10 {
    width: 10px;
  }
  .large-width-20 {
    width: 20px;
  }
  .large-width-30 {
    width: 30px;
  }
  .large-width-40 {
    width: 40px;
  }
  .large-width-50 {
    width: 50px;
  }
  .large-width-60 {
    width: 60px;
  }
  .large-width-70 {
    width: 70px;
  }
  .large-width-80 {
    width: 80px;
  }
  .large-width-90 {
    width: 90px;
  }
  .large-width-100 {
    width: 100px;
  }
  .large-width-200 {
    width: 200px;
  }
  .large-width-300 {
    width: 300px;
  }
  .large-width-400 {
    width: 400px;
  }
  .large-width-500 {
    width: 500px;
  }
  .large-width-600 {
    width: 600px;
  }
  .large-width-700 {
    width: 700px;
  }
  .large-width-800 {
    width: 800px;
  }
  .large-width-900 {
    width: 900px;
  }
  .large-width-1000 {
    width: 1000px;
  }
  .large-height-10 {
    height: 10px;
  }
  .large-height-20 {
    height: 20px;
  }
  .large-height-30 {
    height: 30px;
  }
  .large-height-40 {
    height: 40px;
  }
  .large-height-50 {
    height: 50px;
  }
  .large-height-60 {
    height: 60px;
  }
  .large-height-70 {
    height: 70px;
  }
  .large-height-80 {
    height: 80px;
  }
  .large-height-90 {
    height: 90px;
  }
  .large-height-100 {
    height: 100px;
  }
  .large-height-200 {
    height: 200px;
  }
  .large-height-300 {
    height: 300px;
  }
  .large-height-400 {
    height: 400px;
  }
  .large-height-500 {
    height: 500px;
  }
  .large-height-600 {
    height: 600px;
  }
  .large-height-700 {
    height: 700px;
  }
  .large-height-800 {
    height: 800px;
  }
  .large-height-900 {
    height: 900px;
  }
  .large-height-1000 {
    height: 1000px;
  }
}
/* tables */
.table tr,
thead {
  border-bottom: var(--border);
}
.table thead > td,
th {
  font-weight: bold;
}
.table {
  width: 100%;
  text-align: left;
  padding: 0;
  border-collapse: collapse;
}
.table.bordered {
  border: var(--border);
}
.table.stripped tr:nth-child(even) {
  background-color: #e3e6e8;
}
.table tr,
th,
td {
  padding: 0.4rem;
  margin: 0;
}
.table.hoverable > tr,
th {
  transition: 0.3s;
}
.table.hoverable > tr:hover {
  background-color: var(--hoverable);
}
.table.light {
  background-color: var(--light);
  color: var(--dark);
}
.table.dark {
  background-color: var(--dark);
  color: var(--light);
}
/*list*/
.list {
  margin: 0;
  padding: 0;
}
.list li {
  list-style: none;
  padding: 5px;
  border-collapse: collapse;
}
.list.hoverable li:hover {
  background-color: var(--hoverable);
}
.list.bordered li {
  border-top: var(--border);
}
.list.bordered {
  border-left: var(--border);
  border-right: var(--border);
}
.list.bordered li:last-of-type {
  border-bottom: var(--border);
}
.list.stripped li:nth-child(even) {
  background-color: var(--light);
}
.list.stripped.dark li:nth-child(even) {
  background-color: var(--lightDark);
}
.list.roundItems li {
  border-radius: 300rem;
}
/*animation*/
.scale-up {
  transition: transform 0.5s ease-in;
}
.scale-up:hover {
  transform: scale(1.1);
}
.scale-down {
  transition: transform 0.5s ease-in;
}
.scale-down:hover {
  transform: scale(0.8);
}
.hover-up {
  transition: transform 0.3s ease-in-out;
}
.hover-up:hover {
  transform: translateY(-5%);
}
.hover-down {
  transition: transform 0.3s ease-in-out;
}
.hover-down:hover {
  transform: translateY(5%);
}
.hover-left {
  transition: transform 0.3s ease-in-out;
}
.hover-left:hover {
  transform: translateX(-5%);
}
.hover-right {
  transition: transform 0.3s ease-in-out;
}
.hover-right:hover {
  transform: translateX(5%);
}
.animate-up-down {
  animation: updown 5s linear infinite;
}
@keyframes updown {
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

/*icons*/
.icon.size-smaller {
  font-size: 0.5em;
}
.icon.size-small {
  font-size: 0.8em;
}
.icon.size-big {
  font-size: 2em;
}
.icon.size-bigger {
  font-size: 3em;
}
.icon.size-jumbo {
  font-size: 4em;
}

/*parallax*/
.parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}
/*modal*/
.modal {
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  left: 0;
  padding: 0px 10%;
  z-index: 100;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  transition: 0.5s;
}
.modal.backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  margin: 100px auto;
}
.close-modal {
  float: right;
  margin: 30px;
  cursor: pointer;
}
.closeModal {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--danger);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(1.25rem, -1.25rem);
  color: var(--white);
  transition: 0.3s linear;
}
.closeModal:hover {
  color: var(--white);
  background-color: var(--danger);
  cursor: pointer;
}
.modal-title {
  padding: 0.5rem;
  border-bottom: 1.5px solid #ddd;
}
.modal-content {
  background-color: white;
  max-width: 700px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
.modal-body {
  padding: 0.7rem;
  max-height: 300px;
  overflow: auto;
}
.modal-action {
  padding: 0.7rem;
  text-align: right;
}
.modal-action > button,
Button,
.button {
  display: inline-block;
  margin: 0px 5px;
}
/*background image*/
.background.no-repeat {
  background-repeat: no-repeat;
}
.background.repeat {
  background-repeat: repeat;
}
.background.cover {
  background-size: cover;
}
.background.contain {
  background-size: contain;
}
.background.center {
  background-position: center;
}
.background.top {
  background-position: top;
}
.background.left {
  background-position: left;
}
.background.right {
  background-position: right;
}
.background.bottom {
  background-position: bottom;
}
.darken {
  background-color: black;
  opacity: 0.1;
}
/*slide panel*/
.slide-panel {
  position: relative;
  overflow: hidden;
}
.slide-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: transform 0.3s ease;
}
.slide-panel.slide-top:hover .slide-panel-content {
  transform: translate(0, 0);
}
.slide-panel.slide-top .slide-panel-content {
  transform: translate(0, -100%);
}
.slide-panel.slide-bottom:hover .slide-panel-content {
  transform: translate(0, 0);
}
.slide-panel.slide-bottom .slide-panel-content {
  transform: translate(0, 100%);
}
.slide-panel.slide-left:hover .slide-panel-content {
  transform: translate(0, 0);
}
.slide-panel.slide-left .slide-panel-content {
  transform: translate(-100%, 0);
}
.slide-panel.slide-right:hover .slide-panel-content {
  transform: translate(0, 0);
}
.slide-panel.slide-right .slide-panel-content {
  transform: translate(100%, 0);
}
.icon-start {
  display: relative;
}
.icon-start > i {
  display: absolute;
  top: 0;
  left: 0;
}
.icon.fit {
  transform: translateY(20%);
}

/*hide and show on screen */
@media (max-width: 600px) {
  .hide-small {
    display: none;
  }
  .show-small {
    display: block;
  }
  .hide-medium {
    display: block;
  }
  .hide-medium-down {
    display: none;
  }
  .show-medium {
    display: none;
  }
  .show-medium-up {
    display: none;
  }
  .show-medium-down {
    display: block;
  }
  .hide-medium-up {
    display: block;
  }
  .show-large {
    display: none;
  }
}
@media (min-width: 601px) {
  .hide-medium {
    display: none;
  }
  .hide-small {
    display: block;
  }
  .show-small {
    display: none;
  }
  .hide-medium-down {
    display: none;
  }
  .show-medium-down {
    display: block;
  }
  .hide-medium-up {
    display: none;
  }
  .show-medium {
    display: block;
  }
  .show-large {
    display: none;
  }
}
@media (min-width: 993px) {
  .show-large {
    display: block;
  }
  .hide-medium {
    display: block;
  }
  .hide-small {
    display: block;
  }
  .show-small {
    display: none;
  }
  .hide-medium-down {
    display: block;
  }
  .show-medium {
    display: none;
  }
  .hide-large {
    display: none;
  }
  .show-medium-down {
    display: none;
  }
  .hide-medium-up {
    display: none;
  }
}

/* Progress bars */
.progressBar {
  background-color: var(--light);
  position: relative;
  border-radius: 0.2rem;
  height: 20px;
}
.progressInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.2rem;
  height: 100%;
  font-size: var(--smallerFont);
  font-weight: bold;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.2s ease-in-out;
  background-image: linear-gradient(
    45deg,
    var(--hoverable) 25%,
    transparent 25%,
    transparent 50%,
    var(--hoverable) 50%,
    var(--hoverable) 75%,
    transparent 75%,
    transparent
  );
}
.progressBar.lined {
  background-color: transparent !important;
  font-size: var(--smallerFont);
  font-weight: bold;
  overflow: hidden;
}
.linedProgress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.2rem;
  text-align: right;
  /* padding: 0 1rem; */
  transition: 0.2s ease-in-out;
  border-radius: 2rem;
}

/* darken */
.darken-10 {
  background-color: rgba(0, 0, 0, 0.1);
}
.darken-9 {
  background-color: rgba(0, 0, 0, 0.9);
}
.darken-8 {
  background-color: rgba(0, 0, 0, 0.8);
}
.darken-7 {
  background-color: rgba(0, 0, 0, 0.7);
}
.darken-6 {
  background-color: rgba(0, 0, 0, 0.6);
}
.darken-5 {
  background-color: rgba(0, 0, 0, 0.5);
}
.darken-4 {
  background-color: rgba(0, 0, 0, 0.4);
}
.darken-3 {
  background-color: rgba(0, 0, 0, 0.3);
}
.darken-2 {
  background-color: rgba(0, 0, 0, 0.2);
}
.darken-1 {
  background-color: rgba(0, 0, 0, 0.1);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tip {
  display: none;
  width: 100%;
  max-width: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 5;
  transition: opacity 0.3s;
  font-size: var(--smallerFont) !important;
}
.tooltip .tip-top {
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tip-top {
  display: inline-block;
}

.tooltip .tip-bottom {
  top: 120%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tip-bottom {
  display: inline-block;
}

.tooltip .tip-right {
  top: -5px;
  left: 105%;
  font-size: small;
}

.tooltip:hover .tip-right {
  display: inline-block;
}

.tooltip .tip-left {
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}
.tooltip:hover .tip-left {
  display: inline-block;
}


/* animations */
.animate-underline::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  /* background-color: rgba(255, 255, 255, 0.6); */
  transition: all 0.5s;
}

.animate-underline:hover::after {
  width: 100%;
}
.snackbar {
  position: fixed;
  background-color: var(--dark);
  border-radius: 3px;
  max-width: 400px;
  color: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 20;
  display: flex;
  align-items: center;
  font-size: var(--smallFont);
}
.snackbar.default {
  bottom: 20px;
  left: 20px;
}
.snackbar.top-left {
  top: 20px !important;
  left: 20px !important;
}
.snackbar.top-right {
  top: 20px !important;
  right: 20px !important;
}
.snackbar.bottom-left {
  bottom: 20px !important;
  left: 20px !important;
}
.snackbar.bottom-right {
  bottom: 20px !important;
  right: 20px !important;
}

.snackbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.snackbar-content {
  padding: 5px;
}
.close-snackbar {
  padding: 5px;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}
.snackbar-body {
  padding: 5px;
}

/* glassmophisiam */
.glass {
  background-color: transparent !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@keyframes ScaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes Opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes SlideBottom {
  from {
    margin-bottom: -100%;
  }
  to {
    margin-bottom: 0%;
  }
}
@keyframes SlideTop {
  from {
    margin-top: -100%;
  }
  to {
    margin-top: 0%;
  }
}
@keyframes SlideLeft {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes SlideRight {
  from {
    margin-right: -100%;
  }
  to {
    margin-right: 0%;
  }
}
